{% set ldap_domain = 'dc={},dc={}'.format(openldap_server_domain_name.split('.')[0],openldap_server_domain_name.split('.')[1]) %}
{% if openldap_server_groups %}
{% for group, users in openldap_server_groups.items() -%}
dn: cn={{ group }},ou=Group,{{ ldap_domain }}
objectClass: groupOfNames
cn: {{ group }}
{% for user in users %}
member: {{ user }}
{% endfor %}
{% endfor %}
{% endif %}

{% if openldap_server_users %}
{% for user, config in openldap_server_users.items() %}
dn: cn={{ user }},ou=Users,{{ ldap_domain }}
objectClass: inetOrgPerson
cn: {{ user }}
sn: {{ user }}
userPassword: {{ config['password'] }}
{% endfor %}
{% endif %}
